In [1]:
import pandas  as pd

In [2]:
df = pd.read_csv(r"C:\Users\KRUSHNA\OneDrive\Desktop\Data_science\Visulization\Pandas\locations.csv")

In [3]:
a = 1
type(a)

int

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df1 = pd.read_csv('locations.csv',header = None)

In [6]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
1,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,false
2,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.5639843,-122.3257992,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
3,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.5639843,-122.3257992,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,false
4,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.5639843,-122.3257992,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
5,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.5639843,-122.3257992,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,false
6,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.4480204,-122.1805905,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,false
7,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.4441785,-122.1830931,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,false
8,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.4480204,-122.1805905,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,false
9,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.2141428,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,false
10,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.4838423,-122.2273954,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,false
11,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.2430898,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,false
12,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.4838423,-122.2273954,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,false
13,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.5304228,-122.2586432,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,false
14,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.4913864,-122.2315683,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,false
15,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.7488993,-122.4203671,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,false
16,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.3569004,-122.0600024,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,false
17,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.6445898,-122.4224905,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,false
18,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.2067982,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,false
19,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.5326941,-122.2931236,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,false
20,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,true
21,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.5291938,-122.2871612,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,false
22,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.7726402,-122.4099154,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,false

In [7]:
pd.read_csv('taxonomy.csv',names = ['a','b','c','d'])

,a,b,c,d
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [8]:
df2 = pd.read_csv('taxonomy.csv',names = ['a','b','c'])
df2

                                        a          b                     c
taxonomy_id                          name  parent_id           parent_name
101                             Emergency        NaN                   NaN
101-01                  Disaster Response        101             Emergency
101-02                     Emergency Cash        101             Emergency
101-02-01               Help Pay for Food     101-02        Emergency Cash
...                                   ...        ...                   ...
111-01-07                Workplace Rights     111-01  Advocacy & Legal Aid
111-02                          Mediation        111                 Legal
111-03                             Notary        111                 Legal
111-04                     Representation        111                 Legal
111-05       Translation & Interpretation        111                 Legal

[291 rows x 3 columns]

In [9]:
pd.read_csv('taxonomy.csv',sep = '_')

,taxonomy,"id,name,parent","id,parent",name
0,"101,Emergency,,",NaN,NaN,NaN
1,"101-01,Disaster Response,101,Emergency",NaN,NaN,NaN
2,"101-02,Emergency Cash,101,Emergency",NaN,NaN,NaN
3,"101-02-01,Help Pay for Food,101-02,Emergency Cash",NaN,NaN,NaN
4,"101-02-02,Help Pay for Healthcare,101-02,Emerg...",NaN,NaN,NaN
...,...,...,...,...
285,"111-01-07,Workplace Rights,111-01,Advocacy & L...",NaN,NaN,NaN
286,"111-02,Mediation,111,Legal",NaN,NaN,NaN
287,"111-03,Notary,111,Legal",NaN,NaN,NaN
288,"111-04,Representation,111,Legal",NaN,NaN,NaN
289,"111-05,Translation & Interpretation,111,Legal",NaN,NaN,NaN

In [10]:
df2.head()

                             a          b               c
taxonomy_id               name  parent_id     parent_name
101                  Emergency        NaN             NaN
101-01       Disaster Response        101       Emergency
101-02          Emergency Cash        101       Emergency
101-02-01    Help Pay for Food     101-02  Emergency Cash

In [11]:
df2.tail()

                                      a       b                     c
111-01-07              Workplace Rights  111-01  Advocacy & Legal Aid
111-02                        Mediation     111                 Legal
111-03                           Notary     111                 Legal
111-04                   Representation     111                 Legal
111-05     Translation & Interpretation     111                 Legal

In [12]:
df3 = pd.read_csv('locations.csv')
df3

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [13]:
df3.columns

Index(['id', 'organization_id', 'accessibility', 'admin_emails',
       'alternate_name', 'description', 'email', 'languages', 'latitude',
       'longitude', 'name', 'short_desc', 'transportation', 'website',
       'virtual'],
      dtype='object')

In [14]:
df3.dtypes

id                   int64
organization_id      int64
accessibility       object
admin_emails        object
alternate_name      object
description         object
email               object
languages           object
latitude           float64
longitude          float64
name                object
short_desc          object
transportation      object
website             object
virtual               bool
dtype: object

In [15]:
df3['description']

0     A walk-in center for older adults that provide...
1     Provides training and job placement to eligibl...
2     Offers supportive counseling services to San M...
3     Provides supervised visitation services and a ...
4     Provides fixed 8% short term loans to eligible...
5     A multipurpose center offering a wide variety ...
6     Rosener House is a day center for older adults...
7     Delivers a hot meal to the home of persons age...
8     Provides general reading material, including b...
9     Provides general reading and media materials, ...
10    Provides general reading materials, including ...
11    Offers an intergenerational literacy program f...
12    Provides general reading materials, including ...
13    Provides food, clothing, bus tokens and shelte...
14    Provides a long-term (6-12 month) residential ...
15    Provides emergency assistance including food a...
16    Provides emergency food, clothing and furnitur...
17    Provides free medical care to those in need. O...
18    Provides free medical and dental care to those...
19                                             no phone
20                                This is a description
21    [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...
Name: description, dtype: object

In [16]:
#Question:
a =df3['description']
type(a)

pandas.core.series.Series

In [1]:
#Question:
df4 = df3[['description','email']]

NameError: name 'df3' is not defined

In [18]:
type(df4)

pandas.core.frame.DataFrame

In [19]:
#Question:
type(df3[['name']])

pandas.core.frame.DataFrame

In [23]:
df = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\krushna\appdata\roaming\python\python310\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\krushna\appdata\roaming\python\python310\site-packages (from openpyxl) (1.1.0)

In [25]:
pd.read_excel('LUSID_Excel _Manage_Orders.xlsx',sheet_name = "Allocations" )

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = pd.ExcelFile('LUSID_Excel _Manage_Orders.xlsx')

In [29]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [31]:
for i in df.sheet_names:
    pd.read_excel('LUSID_Excel _Manage_Orders.xlsx',sheet_name = i)

# read csv file data by using URL

In [34]:
pd.read_csv('https://gist.githubusercontent.com/fyyying/4aa5b471860321d7b47fd881898162b7/raw/6907bb3a38bfbb6fccf3a8b1edfb90e39714d14f/titanic_dataset.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q